<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Assignment 1 JPA</title>

  
  </head>
  
  <body>

      <div layout:fragment="content">
          
                  <h2>Person List</h2>
       
  
           <br/>
   
            <div th:if="${pList!=null and !pList.empty}">
                        <table id="myTable" align="center" class="table table-hover display">
                             <thead>

                         <tr> 
                            <th>Name</th>
                            <th>Type</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th></th>
                            <th></th>
                        </tr>
                             </thead>
                      
                           <tbody>

                                   <tr th:each="p :${pList}">
                                        <td th:utext="${p.name}"></td>
                                        <td th:utext="${p.getDecriminatorValue()}"></td>
                                        <td th:utext="${p.address}"></td>
                                        <td th:utext="${p.phone}"></td>
                                        <td th:utext="${p.email}"></td>
                                        <td>
                                             <form action="#" th:action="@{/edit}" method="get">
                                                <input type='hidden' name='id' th:value='${p.id}' />
                                                <input type="submit" value="Edit" class="btn btn-primary" />
                                            </form>                
                                        </td>
                                        <td>
                                            <form action="#" th:action="@{/delete}" method="post">
                                                <input type='hidden' name='id' th:value='${p.id}' />
                                                <input type="submit" value="Delete" class="btn btn-warning" />
                                            </form> 
                                        </td>

                                   </tr>

                             
                                    </tbody>
                      
                   </table>
                
            </div>
    </div>


  </body>
</html>
